{:deps {org.clojure/clojure {:mvn/version "1.11.4"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.15"}
        metosin/malli       {:mvn/version "0.16.4"}}
 :paths ["src"]
 :aliases
 {:repl {:extra-deps {cheshire/cheshire {:mvn/version "5.11.0"}
                      io.github.borkdude/deflet {:mvn/version "0.1.0"}
                      babashka/fs {:mvn/version "0.2.16"}}
         :extra-paths ["dev"]}
  :dev {:extra-paths ["resources" "test" "dev"]
        :extra-deps {io.github.robertluo/rich-comment-tests {:git/tag "v1.1.1", :git/sha "3f65ecb"}}}
  :test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                       lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
         :main-opts   ["-m" "kaocha.runner"]}
  }
}
